@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import './bootstrap.css';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto",sans-serif;
}

.page {
    padding: 2rem;
    justify-content: center;
}

.comtainer {
    max-width: 900px;
    margin: 0 auto;
}
.page h2 {
    margin: auto;
    justify-content: center;
}

.form{
    align-self: center ;
    align-items: center;
    justify-content: center;
    max-width: 80% !important;
    margin: auto;
}
.form .form-group {
    display: flex;
    width: 60%;
    justify-self: center;
}
.form .form-group label,input,textarea {
    width: 50%;
    margin: 1rem;
    font-size: 1.1rem;
    padding: 1rem;
}
.form .form-group input:focus {
    border: 1px solid rgb(129, 193, 223);
    box-shadow: inset 0px 0px 5px rgb(79, 182, 189);
    font-size: 1.1rem;

}
.form input[type="submit"] {
    border: none;
    background: rgb(84, 142, 160);
    border-radius: 5%;
    color: unset;
    cursor: pointer;
    padding: 1rem;
    width: 50%;
    justify-self: center;
}
.errors {
    margin: 1rem 0;
    padding: 0.5rem;
    border: 1px solid #e07c7c;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8d6d6;
  }
  .errors button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #df4343;
    color: #ffffff;
  }
  
a {
    color: rgb(73, 142, 187);
    text-decoration: unset;
}

ul {
    margin-left: 1.5rem;
    list-style: none;
}

button, input[type="submit"] {
    border: none;
    background: none;
    color: unset;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 1em 0;
}

#header{
    height: 3rem;
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;

}

#header .title {
    margin:0;
    padding: 0 1rem;
    color: rgba(63, 159, 223, 0.501);
}

#header .auth-options {
    height: 100%;
    display:flex;
}
#header .auth-options button{
    padding: 0rem 1rem;
    color:  rgba(63, 159, 223, 0.501);
    font-size: 1.1rem;
}
#header .auth-options button:hover{
    background-color: violet;

}

@media screen and (max-width:360px){
    #header .title{
        font-size: .9rem;
    }
}

